body {
    /* background-color: #DEEFB7; */
    background-image: linear-gradient(rgba(222, 239, 183, 1), rgba(255,255,0,0));
    height: 100vh;
    margin: 0;
    padding: 0;
}

body * {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.header {
    border-bottom: 2px #2f3030 solid;
    text-align: center;
    background-color: #682D63;
    padding: 15px 0 10px 0;
    box-shadow: 0px 0px 1px black;}

.header__title {
    color: aliceblue;
    text-shadow: 1px 1px #000000;
}

.footer {
    text-align: center;
    margin-top: 40px;
    font-style: italic;
}

/* All things grid related */
.main-block {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    gap: 30px;
    align-items: center;
}

.grid {
    width: 500px; 
    height: 500px;
    border: 1px rgb(75, 75, 75) solid;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid__row {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}

.grid__element {
    flex: 1 1 0;
    background-color: aliceblue;
    border: solid rgb(75, 75, 75) 1px;
}

/* Controls size*/

.control-size input {
    display: none;
}

.control-size input:checked+label {
    background-color: #682D63;
}

.control__radio-button {
    color: white;
    background-color:gray;
    text-align: center;
    display: block;
    padding: 5px 10px;
    margin: 6px;
    border: 1px solid black;
	border-radius: 3px;
    box-shadow: 0px 0px 1px black;
	cursor:pointer;
	font-size:16px;
}

.control-size .control__radio-button:hover {
	background-color:#DEEFB7 !important;
    color: black;
}

/* Controls color*/

.control-color input {
    display: none;
}

.control-color #color1:checked+label {
    background-color: black;
    color: white;
}

.control-color #color1 + label:hover {
    background-color: black;
    color: white;
}

.control-color #color2:checked+label {
    background-color: red;
    color: white;
}

.control-color #color2 + label:hover {
    background-color: red;
    color: white;
}

.control-color #color3:checked+label {
    background-color: white;
    color: black;
}

.control-color #color3 + label:hover {
    background-color: white;
    color: black;
}

.control-color #color4:checked+label {
    background-image: linear-gradient(to right, #ff8961, #fffb89, #74BDCB, #0e42c4);
    color: black;
}

.control-color #color4 +label:hover {
    background-image: linear-gradient(to right, #ff8961, #fffb89, #74BDCB, #0e42c4);
    color: black;
}

/* Reset button */
.control-color, .control-size {
    display: flex;
    flex-direction: column;
}

.control-reset__button {
    color: black;
    box-sizing: content-box;
    background-color:white;
    text-align: center;
    display: block;
    padding: 5px 10px;
    margin: 6px;
    border: 1px solid black;
	border-radius: 3px;
    box-shadow: 0px 0px 1px black;
	cursor:pointer;
	font-size:16px;
}

.control-reset__button:hover {
	background-color:#DEEFB7 !important;
    color: black;
}