body {
    /* background-color: #DEEFB7; */
    background-image: linear-gradient(rgba(222, 239, 183, 1), rgba(255,255,0,0));
    height: 100vh;
    margin: 0;
    padding: 0;
}

body * {
    padding: 0;
    margin: 0;
}

.header {
    border-bottom: 2px #2f3030 solid;
    text-align: center;
    background-color: #682D63;
    padding: 15px 0 10px 0;
}

.header__title {
    color: aliceblue;
}

/* All things grid related */
.main-block {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    gap: 30px;
    align-items: center;
}

.grid {
    width: 500px; 
    height: 500px;
    border: 1px rgb(75, 75, 75) solid;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid__row {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}

.grid__element {
    flex: 1 1 0;
    background-color: aliceblue;
    border: solid rgb(75, 75, 75) 1px;
}

.control-color {
    display: flex;
    flex-direction: column;
}

.control-size > label{
    width: 100%;
}

.control-size label {
    margin-bottom: 5px;
}

/* Override bootstrap */
.btn-check:checked + .btn-secondary {
	background-color: #682D63;
}

.btn-check:focus + .btn-secondary, .btn-secondary:focus {
	box-shadow: none;
}