body {
    background-color: #DEEFB7;
    margin: 0;
    padding: 0;
}

body * {
    padding: 0;
    margin: 0;
}

.header {
    border-bottom: 1px black solid;
    text-align: center;
    background-color: #682D63;
    padding: 10px 0 10px 0;
}

.header__title {
    color: aliceblue;
}

.main-block {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    gap: 30px;
    align-items: center;
}

/* All things grid related */
.grid {
    width: 500px; 
    height: 500px;
    border: 1px rgb(75, 75, 75) solid;
    display: flex;
    flex-direction: column;
}

.grid__row {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
}

.grid__element {
    flex: 1 1 0;
    border: solid rgb(75, 75, 75) 1px;
}

.grid__element--hover {
    background-color: black;
}


/* All things control related */
.control-colour {
    display: flex;
    flex-direction: column;
}